@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

/* styles/globals.css */
:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-caveat: 'Caveat', cursive;
  }
  
  body {
    font-family: var(--font-roboto); /* Police par défaut pour le contenu principal */
    line-height: 1.6; /* Améliore la lisibilité */
  }
  
  h1, h2, h3, h4, .accent {
    font-family: var(--font-caveat); /* Police pour les éléments accentués */
  }
  
  /* Exemple d'utilisation pour les titres */
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }

input::placeholder {
    color: #ffffff; 
    opacity: 0.9; /* Ajustez l'opacité si nécessaire */
  }
  